* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

/* header */


/* body */
body {
    background-color: rgba(46, 46, 46, 0.137);
}

main {
    display: flex;
    flex-wrap: wrap;
}

img {
    height: 300px;
    width: 200px;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

.card {
    margin-left: 30px;
    height: 300px;
    display: flex;
    padding: 10px;
    margin-bottom: 50px;
}

.description {
    width: 300px;
    margin-left: 30px;
    margin-top: 10px;
}

.title {
    color: red;
    font-size: 20px;
}

p {
    margin-top: 5px;
}

h2 {
    font-size: 18px;
}

.trama, .price {
    font-size: 12px;
}

.price {
    font-weight: 800;
    cursor: pointer;
    font-size: 20px;
    width: 20px;
}

.price:hover {
    color: blue;
}

img:hover {
    scale: 1.2;
    cursor: pointer;
    border: 3px solid yellow;
}